@import 'material-design-icons-iconfont/dist/material-design-icons.css';
@import 'materialize-css/dist/css/materialize.css';

html {
  color: #212121;
}

body {
  background-color: #efefef;
}

select {
  display: inherit;
}

.btn {
  color: white;
  background-color: #2196f3;
}

.btn:hover {
  background-color: #1976d2;
}

.btn-floating {
  background-color: #ff5252;
}

.btn-floating:hover {
  background-color: #d50000;
}

/* component labelling */

.component-marker {
  color: #fff;
  height: 26px;
  font-size: 15px;
  line-height: 26px;
  padding: 0 9px;
  border-radius: 12px;
  background-color: #ff5252;
  float: right;
  transform: translate(8px, -8px);
  grid-area: 1 / 1 / 2 / -1;
  justify-self: end;
}

/* Navbar content */

nav {
  height: 64px;
  line-height: 64px;
  margin-bottom: 24px;
}

nav.secondary-nav {
  line-height: 32px;
  height: 32px;
  margin-bottom: 0;
}

.nav-wrapper {
  background-color: #2196f3;
}

.brand-logo {
  /* Solid background that fades to transparent on the right edge */
  background: linear-gradient(
    to right,
    #2196f3 90%,
    rgba(33, 150, 243, 0)
  );
  margin-left: 10px;
  height: 64px;
  overflow: hidden;
}

.brand-logo > a {
  background: url(/assets/logo.png) no-repeat;
  position: absolute;
  background-size: 100% 100%;
  height: 45px;
  width: 134px;
  padding-left: 10px;
  margin-top: 7px;
}

.brand-logo > span {
  margin-left: 157px;
  margin-right: 50px;
  /* Add room for the fade to transparent */
  font-size: 24px;
  line-height: 64px;
}

/* End Navbar Content */

a.btn-floating {
  float: right;
}

.green-background {
  background-color: green;
}

.card-action .btn {
  margin-bottom: 5px;
}

/* CSS grid classes */

.two-across,
.three-across,
.four-across,
.narrow-wide {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.fit-component-marker {
  grid-template-rows: 5px 1fr;
}

@media only screen and (min-width: 601px) {
  .two-across {
    grid-template-columns: repeat(2, 1fr);
  }
  .three-across {
    grid-template-columns: repeat(3, 1fr);
  }
  .four-across {
    grid-template-columns: repeat(2, 1fr);
  }
  .narrow-wide {
    grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (min-width: 993px) {
  .four-across {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Space out buttons a bit */

.btn span,
.btn-large span,
.btn-floating span,
.btn-flat span {
  font-size: 1.3rem;
  line-height: inherit;
}
