<div class="two-across">
  <section class="card">
    <div class="card-content">
      <span class="card-title">Time Clock</span>
      <p>Hello, {{ name }}</p>
      <p>
        <b>{{ message }}</b>
      </p>
      <p>
        Managers, don't forget to hold shift while clocking in!
      </p>
    </div>
    <div class="card-action">
      <button class="btn" (click)="clockIn($event)">Clock In</button>
      &nbsp;
      <button class="btn" (click)="clockOut()">Clock Out</button>
    </div>
  </section>

  <section class="card">
    <div class="card-content">
      <span class="card-title">Upcoming Schedule</span>
      <div class="time-block" (mouseleave)="clearSchedule()">
        <div class="day-0" (mouseover)="showSchedule('M')">M</div>
        <div class="day-1" (mouseover)="showSchedule('T')">T</div>
        <div class="day-2" (mouseover)="showSchedule('W')">W</div>
        <div class="day-3" (mouseover)="showSchedule('R')">R</div>
        <div class="day-4" (mouseover)="showSchedule('F')">F</div>
      </div>
      <div>
        {{ currentSchedule }}
      </div>
    </div>
  </section>
</div>
