@import '/assets/materialize/materialize.css';

/* Google Material Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /* loaded via link element in index.html */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  color: #212121;
}

body {
  background-color: #efefef;
}

select {
  display: inherit;
}

.btn {
  color: white;
  background-color: #2196F3
}

.btn:hover {
  background-color: #1976D2;
}

.btn-floating {
  background-color: #ff5252
}

.btn-floating:hover {
  background-color: #d50000
}

/* component labelling */

.simple-card {
  background-color: white;
  border: 1px solid #B6B6B6;
  padding: 3px;
  margin: 3px
}

.component-marker {
  color: #fff;
  height: 26px;
  font-size: 15px;
  line-height: 26px;
  padding: 0 9px;
  border-radius: 12px;
  background-color: #ff5252;
  float: right;
  transform: translate(8px, -8px);
  grid-area: 1 / 1 / 2 / -1;
  justify-self: end;
}

/* Navbar content */

nav {
  height: 64px;
  line-height: 64px;
  margin-bottom: 24px;
}

nav.secondary-nav {
  line-height: 32px;
  height: 32px;
  margin-bottom: 0;
}

.nav-wrapper {
  background-color: #2196F3;
}

.brand-logo {
  /* Solid background that fades to transparent on the right edge */
  background: linear-gradient(to right, #2196F3 90%, rgba(33, 150, 243, 0));
  margin-left: 10px;
  height: 64px;
  overflow: hidden;
}

.brand-logo>a {
  background: url(assets/logo.png) no-repeat;
  position: absolute;
  background-size: 100% 100%;
  height: 45px;
  width: 134px;
  padding-left: 10px;
  margin-top: 7px;
}

.brand-logo>span {
  margin-left: 157px;
  margin-right: 50px;
  /* Add room for the fade to transparent */
  font-size: 24px;
  line-height: 64px;
}

/* End Navbar Content */

a.btn-floating {
  float: right;
}

.green-background {
  background-color: green;
}

.unselectable {
  user-select: none;
}

.time-block {
  margin: 20px;
}

.time-block div {
  background-color: #eaeaea;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  width: 25px;
  padding: 2px;
  margin: 2px;
  display: inline-block;
  text-align: center;
}

.number-column {
  text-align: right;
}

.card-action .btn {
  margin-bottom: 5px;
}

/* CSS grid classes */

.two-across,
.three-across,
.four-across,
.narrow-wide {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.fit-component-marker {
  grid-template-rows: 5px 1fr;
}

@media only screen and (min-width: 601px) {
  .two-across {
    grid-template-columns: repeat(2, 1fr);
  }
  .three-across {
    grid-template-columns: repeat(3, 1fr);
  }
  .four-across {
    grid-template-columns: repeat(2, 1fr);
  }
  .narrow-wide {
    grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (min-width: 993px) {
  .four-across {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pad-around {
  padding: 15px;
}
